.jumbotron{
	padding: 0px;
	margin-bottom: 0px;
	background-color: black;
	background-repeat: none;
	text-align: center;
}

body{

	background-color: black;
}

.character-selection {
    margin: 0;
    width: 180px;
    float: left;
    ≈
}

.panel {

	background-color: #474747;
	color: white;
}

.btn{
	
	width: 80%;
	margin-top: 1%;
    text-align: center;
    margin-left: 12%;
}

.mdl-button.mdl-button--colored , .mdl-button--fab.mdl-button--colored:active, .mdl-button--fab.mdl-button--colored:hover  {
    	background-color: #474747;
    color:#fff;

}

.mdl-button {
	background-color: #474747;
	color:white;
}

.audio-buttons, #buttons, .attackerPanel, .opponentPanel {

	text-align: center;
}

.enjoy {

	color:white;
}

#attack-button, #restart-button {

	color: #fff;
	background-color: #d05f5f;
}

.opponentPanel{

    position: relative;
    left: 40%;
}



