
/* Character Class*/
.character {
	
}

figure {
	float: left;
	margin: 15px;
	text-align: center;
}

figcaption {
	text-align: center;
}

#attack-button {
	width: 100%;
	vertical-align: middle;
	/*margin: 107.5px 0px;*/
}

.activeChar {
	width: 100%;
}

.activeName {
	text-align: center;
}

